<div>
    <a href="/shops/shopList">List of shops</a>
</div>

<hr>

<h2>Best deals</h2>

<div class="deal">


    <div class="cape">
        <div class="CapeAvo">
            <div class="info">
                <h2>Cape Avocado</h2>
                <p><img src="Avocados.jpg" style="width:20%"></p>

                <strong>R25.00</strong>

                <div>
                    Get 2 avos for R25.
                </div>
            </div>


        </div>
        <div class="PaarlAvo">
            <div class="info">
                <h2>Paarl Avo</h2>
                <p><img src="Avocados.jpg" style="width:20%"></p>

                <strong>R30.00</strong>
                <div>
                    Get 3 small juice Avocado for only R30
                </div>
            </div>
        </div>

        <div class="IndianAvo">
            <div class="info">
                <h2>Paarl Avo</h2>
                <p><img src="Avocados.jpg" style="width:20%"></p>

                <strong>R45.00</strong>
                <div>
                    Get a deal of 3 Avocado for only R45
                </div>
            </div>
        </div>

        <div class="WesternAvo">
            <div class="info">
                <h2>Western Avo</h2>
                <p><img src="Avocados.jpg" style="width:20%"></p>

                <strong>R60.00</strong>
                <div>
                    Get a deal of 4 Avocado for only R60
                </div>
            </div>
        </div>

        <div class="DurbanAvo">
            <div class="info">
                <h2>Durban Avo</h2>
                <p><img src="Avocados.jpg" style="width:20%"></p>

                <strong>R29.00</strong>
                <div>
                    Get a deal of 3 Avocado for only R29
                </div>
            </div>
        </div>
    </div>
</div>