<h2>Recomedetion</h2>

<form action="/recommendation" method="POST">

    <div class="recommended">
        <label for="rec" class="8">Amount</label>
        <input type="number" name="Amount" class="Amount">
    </div>

    <div class="col6">
        <button class="Addbutton" type="submit" name="button">Add</button>
    </div>
</form>

