
<h2>Shop List</h2>



<form action="/shops/shopList" method="post">

    <div class="shopList">
        <label for="qty" class="w-7">shops</label>
        <select name="shop_id" class="theshop" id="">
            <option value="">Select Shop</option>

            {{#each shops}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}

        </select>
    </div><br>

    <div class="price">
        <label for="shop_name">price</label>
        <input class="shop" type="number" name="basket_name" id="">
    </div><br>

    <div class="qty">
        <label for="qty" class="w-7">Quantity</label>
        <input type="number" name="qty" class="num">
    </div>

<br>

    <div class="button">
        <input class="theButton" type="submit">
    </div>

</form>